<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<ComponentGroup Id="LanguagesComponents" Directory="LanguagesFolder">
			<Component>
				<CreateFolder Directory="INSTALLFOLDER" Subdirectory="Languages"/>
				<File Source="..\SkEditor\bin\Release\publish\win\Languages\English.xaml" />
			</Component>
			<Component>
				<File Source="..\SkEditor\bin\Release\publish\win\Languages\Polish.xaml" />
			</Component>
			<Component>
				<File Source="..\SkEditor\bin\Release\publish\win\Languages\French.xaml" />
			</Component>
			<Component>
				<File Source="..\SkEditor\bin\Release\publish\win\Languages\Russian.xaml" />
			</Component>
			<Component>
				<File Source="..\SkEditor\bin\Release\publish\win\Languages\German.xaml" />
			</Component>
			<Component>
				<File Source="..\SkEditor\bin\Release\publish\win\Languages\Chinese.xaml" />
			</Component>
			<Component>
				<File Source="..\SkEditor\bin\Release\publish\win\Languages\Spanish.xaml" />
			</Component>
			<Component>
				<File Source="..\SkEditor\bin\Release\publish\win\Languages\Hungarian.xaml" />
			</Component>
			<Component>
				<File Source="..\SkEditor\bin\Release\publish\win\Languages\Korean.xaml" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
