<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<ComponentGroup Id="LanguagesComponents" Directory="LanguagesFolder">
			<Component>
				<CreateFolder Directory="INSTALLFOLDER" Subdirectory="Languages"/>
				<File Source="..\SkEditor\bin\Release\net8.0\win-x64\publish\Languages\English.xaml" />
			</Component>
			<Component>
				<File Source="..\SkEditor\bin\Release\net8.0\win-x64\publish\Languages\Polish.xaml" />
			</Component>
			<Component>
				<File Source="..\SkEditor\bin\Release\net8.0\win-x64\publish\Languages\French.xaml" />
			</Component>
			<Component>
				<File Source="..\SkEditor\bin\Release\net8.0\win-x64\publish\Languages\Russian.xaml" />
			</Component>
			<Component>
				<File Source="..\SkEditor\bin\Release\net8.0\win-x64\publish\Languages\German.xaml" />
			</Component>
				<Component>
				<File Source="..\SkEditor\bin\Release\net8.0\win-x64\publish\Languages\Chinese.xaml" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
