<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<ComponentGroup Id="SkEditorComponents" Directory="INSTALLFOLDER">
			<Files Include="$(var.PublishDir)\**">
				<Exclude Files="$(var.PublishDir)\SkEditor.exe" />
			</Files>

			<Component Id="MainExecutable">
				<File Id="SkEditorExe" Source="$(var.PublishDir)\SkEditor.exe"/>
			</Component>

			<Component Id="ApplicationShortcuts" Guid="{bf08e1b2-e449-4bf6-9e61-e80cd00d68ac}">
				<RegistryValue Root="HKCU" Key="Software\Notro\SkEditor" Name="Installed" Type="integer" Value="1"/>

				<Shortcut Id="DesktopShortcut"
						  Name="SkEditor"
						  Directory="DesktopFolder"
						  Target="[#SkEditorExe]"
						  WorkingDirectory="INSTALLFOLDER"
						  Icon="SkEditorIcon.exe" />

				<Shortcut Id="StartMenuShortcut"
						  Name="SkEditor"
						  Directory="ProgramMenuFolder"
						  Target="[#SkEditorExe]"
						  WorkingDirectory="INSTALLFOLDER"
						  Icon="SkEditorIcon.exe" />
			</Component>
		</ComponentGroup>

		<Icon Id="SkEditorIcon.exe" SourceFile="Assets/SkEditor.ico"/>
		<Property Id="ARPPRODUCTICON" Value="SkEditorIcon.exe" />
	</Fragment>
</Wix>